# Go build artifacts
*.exe
*.out
*.test
*.bin
*.o
*.a

# Folders to ignore
/build/
/dist/
logs/
log/

# Environment files (DO NOT COMMIT SECRETS)
.env
.env.local

# Go Modules
go.sum
go.work
vendor/

# IDE and Editor files
.vscode/
.idea/
*.iml
.DS_Store

# Docker-related
docker-compose.override.yml
.dockerignore

# Debugging and Coverage
*.test
coverage.out

